@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');

/* Estilos Generales */
body {
    /* background-color: #c89c57; */
    background-color: #ff7800;
    color: #633f3f;
}

h1 {
    font-family: 'Junge', serif;
    font-size: 3rem;
    font-weight: bold;
}

hr {
    height: 5px !important;
    background-color: #633f3f;

    opacity: 1 !important;
}

nav,
.nav,
span {
    border-radius: 5px;
}

nav,
.nav {
    background-color: #837272;
}

span {
    background-color: #633f3f;
    color: #fa0704;
}

.card,
.btn-primary {
    /* background-color: #938787; */
    background-color: black;
    color: white
}

.btn-primary {
    border: 0;
    font-family: 'Junge', serif;
    font-size: 1.2rem;
}

.btn-primary:hover {
    background-color: #633f3f;
}

.redes {
    text-decoration: none;
    color: #212529;
    height: 70px;
    width: 70px;
    font-size: 2rem;
    overflow: hidden;
     background-color: #837272;
    border-radius: 100%;
}
.main-nav  a{
    grid-area: nav;
    flex-direction: column;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 12px; 
    width: 90%;
    border-radius: 20px;
    }
.main-nav ul{
    background-color: black;
    color: white
}
    
.redes ion-icon {
    margin-top: 10px;
    margin-left: 0px;
}

.redes:hover {
    color: #212529;
}

#brand {
    
    height: 64px;
    width: 74px;
    
}

.navbar-brand {
    margin-top: -16px;
}
.carousel-inner{
        margin-left: 35px;
            
        width: 325px;
        height: 200px;
    }
    


/* Media Queries */

@media (min-width: 320px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .card {
        display: flex;
        flex-direction: row;
    }
    .card img {
        width: 50%;
        height: 50%;
    }
    .carousel{
        margin-left: 420px;
       
        width: 500px;
        height: 300px;
    }
    .carousel-inner img{
        margin-left: 30px;
            
        width: 400px;
        height: 200px;
    }
    .main-nav  a{
    grid-area: nav;
    flex-direction: column;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 15px; 
     margin-left: 210px;
    border-radius: 20px;
    }
    
}
.colorFooter {
    background-color: #990033;
    color: white
}